@font-face {
  font-family: 'PTSans';
  src: url("../fonts/PTSans/PTSans-Bold.eot");
  src: url("../fonts/PTSans/PTSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans/PTSans-Bold.ttf") format("truetype"), url("../fonts/PTSans/PTSans-Bold.svg#PTSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'PTSans';
  src: url("../fonts/PTSans/PTSans-BoldItalic.eot");
  src: url("../fonts/PTSans/PTSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSans-BoldItalic.woff2") format("woff2"), url("../fonts/PTSans/PTSans-BoldItalic.woff") format("woff"), url("../fonts/PTSans/PTSans-BoldItalic.ttf") format("truetype"), url("../fonts/PTSans/PTSans-BoldItalic.svg#PTSans-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'PTSans';
  src: url("../fonts/PTSans/PTSans-Regular.eot");
  src: url("../fonts/PTSans/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans/PTSans-Regular.ttf") format("truetype"), url("../fonts/PTSans/PTSans-Regular.svg#PTSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PTSans';
  src: url("../fonts/PTSans/PTSans-Italic.eot");
  src: url("../fonts/PTSans/PTSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSans-Italic.woff2") format("woff2"), url("../fonts/PTSans/PTSans-Italic.woff") format("woff"), url("../fonts/PTSans/PTSans-Italic.ttf") format("truetype"), url("../fonts/PTSans/PTSans-Italic.svg#PTSans-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: 'PTSans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #333; }

h1 {
  font-size: 38px;
  font-weight: bold; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 20px;
  font-weight: bold; }

h4 {
  font-size: 18px;
  font-weight: bold; }

a {
  color: #3caaea;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  a:hover {
    opacity: 0.7;
    text-decoration: none;
    color: inherit;
    outline: none; }
  a:active {
    opacity: 0.6;
    outline: none;
    color: inherit;
    text-decoration: none; }
  a:focus {
    outline: none;
    color: inherit;
    text-decoration: none; }

button, input, textarea, select {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

img {
  max-width: 100%; }

p {
  font-size: 16px;
  line-height: 24px; }

.text-center {
  text-align: center; }

.sprite::before {
  content: '';
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.sprite-burger::before {
  width: 15px;
  height: 12px;
  background-position: -5px -5px; }

.sprite-close-1::before {
  width: 9px;
  height: 9px;
  background-position: -30px -5px; }

.sprite-correct-symbol::before {
  width: 7px;
  height: 5px;
  background-position: -49px -5px; }

.sprite-cream::before {
  width: 68px;
  height: 68px;
  background-position: -66px -5px; }

.sprite-cream-1::before {
  width: 68px;
  height: 68px;
  background-position: -144px -5px; }

.sprite-f::before {
  width: 16px;
  height: 16px;
  background-position: -5px -83px; }

.sprite-filter-close::before {
  width: 9px;
  height: 8px;
  background-position: -31px -83px; }

.sprite-filter-open::before {
  width: 9px;
  height: 8px;
  background-position: -50px -83px; }

.sprite-jj::before {
  width: 16px;
  height: 16px;
  background-position: -69px -83px; }

.sprite-left::before {
  width: 19px;
  height: 29px;
  background-position: -95px -83px; }

.sprite-left-arrow::before {
  width: 15px;
  height: 13px;
  background-position: -124px -83px; }

.sprite-left-arrow-dis::before {
  width: 15px;
  height: 13px;
  background-position: -149px -83px; }

.sprite-left-arrow-hover::before {
  width: 15px;
  height: 13px;
  background-position: -174px -83px; }

.sprite-left-hover::before {
  width: 19px;
  height: 29px;
  background-position: -199px -83px; }

.sprite-lenses::before {
  width: 12px;
  height: 12px;
  background-position: -5px -122px; }

.sprite-lenses-hover::before {
  width: 12px;
  height: 12px;
  background-position: -27px -122px; }

.sprite-m::before {
  width: 16px;
  height: 16px;
  background-position: -49px -122px; }

.sprite-mail::before {
  width: 21px;
  height: 15px;
  background-position: -75px -122px; }

.sprite-maps-and-flags::before {
  width: 15px;
  height: 21px;
  background-position: -106px -122px; }

.sprite-marker::before {
  width: 18px;
  height: 18px;
  background-position: -131px -122px; }

.sprite-marker-dark::before {
  width: 18px;
  height: 18px;
  background-position: -159px -122px; }

.sprite-ok::before {
  width: 16px;
  height: 16px;
  background-position: -187px -122px; }

.sprite-piggy-bank::before {
  width: 68px;
  height: 68px;
  background-position: -5px -150px; }

.sprite-powder::before {
  width: 68px;
  height: 68px;
  background-position: -131px -150px; }

.sprite-right::before {
  width: 19px;
  height: 29px;
  background-position: -222px -5px; }

.sprite-right-arrow::before {
  width: 15px;
  height: 13px;
  background-position: -5px -44px; }

.sprite-right-arrow-dis::before {
  width: 15px;
  height: 13px;
  background-position: -30px -44px; }

.sprite-right-arrow-hover::before {
  width: 15px;
  height: 13px;
  background-position: -222px -44px; }

.sprite-right-hover::before {
  width: 19px;
  height: 29px;
  background-position: -228px -67px; }

.sprite-s1::before {
  width: 16px;
  height: 16px;
  background-position: -228px -106px; }

.sprite-s2::before {
  width: 16px;
  height: 16px;
  background-position: -213px -132px; }

.sprite-star::before {
  width: 68px;
  height: 68px;
  background-position: -257px -5px; }

.sprite-t::before {
  width: 16px;
  height: 16px;
  background-position: -257px -83px; }

.sprite-telephone::before {
  width: 21px;
  height: 21px;
  background-position: -283px -83px; }

.sprite-vk::before {
  width: 16px;
  height: 16px;
  background-position: -254px -114px; }

.sprite-ya::before {
  width: 16px;
  height: 16px;
  background-position: -280px -114px; }

header {
  min-height: 80px; }

.justify-align {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

.header-top__wrapper {
  min-height: 125px; }

.color-blue {
  color: #3caaea; }

.logo {
  position: relative;
  top: 10px; }
  .logo span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #333; }

.header-top__right {
  width: 58%; }
  .header-top__right > div {
    position: relative; }
    .header-top__right > div a {
      font-weight: bold;
      font-size: 18px; }
  .header-top__right .sprite::before {
    position: absolute;
    left: -20px;
    top: 0;
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6); }
  .header-top__right span {
    display: block;
    margin-bottom: 3px; }
  .header-top__right strong {
    font-size: 14px; }

.btn {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 23px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: #3caaea;
  -webkit-border-radius: 0;
          border-radius: 0; }
  .btn:hover {
    color: #fff; }

.btn-white {
  background-color: #fff;
  color: #333; }
  .btn-white:hover {
    color: #333; }

.navbar {
  min-height: 0;
  margin-bottom: 0;
  border: none;
  background: #333;
  -webkit-border-radius: 0;
          border-radius: 0; }

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.navbar-nav {
  float: none;
  margin: 0; }

.nav.navbar-nav::before, .nav.navbar-nav::after {
  display: none; }

.navbar-nav > li {
  float: none;
  display: inline-block;
  vertical-align: top; }
  .navbar-nav > li > a {
    display: block;
    padding: 13px 40px 12px;
    margin: 0 5px 0 0;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase; }
    .navbar-nav > li > a:hover {
      opacity: 1; }

.navbar-nav > li.search {
  position: relative;
  float: right; }
  .navbar-nav > li.search a {
    padding: 17px 8px 15px 14px; }
    .navbar-nav > li.search a::before {
      content: '';
      position: absolute;
      left: 0;
      top: 7px;
      height: 30px;
      width: 1px;
      background: #fff; }

.search-form {
  display: none;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  background: #333; }
  .search-form::before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    height: 30px;
    width: 1px;
    background: #fff; }
  .search-form input {
    width: 190px;
    padding: 0 25px 0 10px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none; }
  .search-form button {
    position: absolute;
    right: 0;
    top: 15px;
    background-color: transparent;
    outline: none;
    border: none; }

.navbar-nav > li a.sprite-burger {
  padding: 13px 0 0 25px;
  width: 143px; }
  .navbar-nav > li a.sprite-burger:focus, .navbar-nav > li a.sprite-burger:hover, .navbar-nav > li a.sprite-burger:focus {
    background-color: #3caaea;
    border-color: transparent;
    color: #fff; }
  .navbar-nav > li a.sprite-burger::before {
    position: absolute;
    left: 23px;
    top: 17px; }
  .navbar-nav > li a.sprite-burger:hover {
    background: #3caaea;
    color: #fff; }

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #3caaea;
  text-shadow: 0px 0px 1px #3caaea; }

.nav a {
  border: none; }

.nav .open > a {
  background-color: #21323C;
  border-color: #21323C; }

.dropdown-menu,
.dropdown-menu__level2 {
  float: none;
  min-width: 0;
  padding: 0;
  margin: 0 0 0;
  font-size: 14px;
  background-color: #333;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .dropdown-menu > li,
  .dropdown-menu__level2 > li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 50px; }
    .dropdown-menu > li > a,
    .dropdown-menu__level2 > li > a {
      display: block;
      height: 100%;
      vertical-align: middle;
      padding: 5px 25px;
      font-size: 16px;
      color: #fff;
      white-space: initial; }
    .dropdown-menu > li:hover,
    .dropdown-menu__level2 > li:hover {
      background: #3caaea; }
      .dropdown-menu > li:hover > a,
      .dropdown-menu__level2 > li:hover > a {
        background: #3caaea;
        color: #fff;
        opacity: 1; }

.dropdown-menu {
  width: 264px; }

.dropdown-level2 > a {
  position: relative;
  width: 100%; }
  .dropdown-level2 > a::before {
    content: '>';
    position: absolute;
    right: 15px;
    top: 30%;
    font-size: 16px;
    color: #fff; }

.dropdown-menu__level2 {
  display: none;
  position: relative;
  padding: 10px 30px 30px;
  min-width: 750px;
  position: absolute;
  left: 100%;
  top: 0;
  list-style: none;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2; }
  .dropdown-menu__level2 > li {
    display: block;
    -webkit-column-break-inside: avoid;
            break-inside: avoid; }
    .dropdown-menu__level2 > li:hover {
      background: #333; }
      .dropdown-menu__level2 > li:hover > a {
        background: #333;
        color: #3caaea;
        opacity: 1; }
    .dropdown-menu__level2 > li > a {
      padding: 5px 0;
      font-weight: bold; }
    .dropdown-menu__level2 > li ul {
      padding: 0 0 0 10px;
      list-style: none; }
      .dropdown-menu__level2 > li ul li {
        padding: 0 0 0 15px; }
        .dropdown-menu__level2 > li ul li a {
          font-size: 16px;
          color: #fff; }
          .dropdown-menu__level2 > li ul li a:hover {
            color: #3caaea;
            opacity: 1; }
  .dropdown-menu__level2.active {
    display: block; }

.content {
  min-height: 200px; }

.banner {
  background: #076fac; }

.banner-slider .slick-prev, .banner-slider .slick-next {
  content: '';
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 19px;
  height: 29px;
  top: 50%; }

.banner-slider .slick-prev {
  background-position: -95px -83px; }

.banner-slider .slick-next {
  background-position: -222px -5px; }

.banner-slider .slick-prev:before {
  content: ''; }

.banner-slider .slick-next:before {
  content: ''; }

.banner-slider .slick-dots {
  bottom: 14px; }
  .banner-slider .slick-dots li {
    margin: 0 5px; }
    .banner-slider .slick-dots li button {
      display: block;
      width: 12px;
      height: 12px;
      padding: 0;
      border: none;
      background: #fff;
      -webkit-border-radius: 0;
              border-radius: 0;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
      .banner-slider .slick-dots li button::before {
        display: none; }
    .banner-slider .slick-dots li.slick-active button {
      background: #333; }
      .banner-slider .slick-dots li.slick-active button::before {
        display: none; }

.slick-slide {
  outline: none; }

.banner-slider__item {
  height: 500px; }
  .banner-slider__item p {
    padding-bottom: 10px;
    color: #fff;
    font-size: 24px;
    line-height: normal; }
  .banner-slider__item .btn {
    margin-top: 30px; }

.banner-slider__info {
  padding: 106px 0 0; }

.banner-slider__title {
  margin: 0 0 32px;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase; }

.banner-slider__img {
  padding: 50px 0 0; }

section {
  padding: 80px 0 80px; }
  section > .container > h2 {
    position: relative;
    padding-top: 16px;
    text-transform: uppercase; }
    section > .container > h2::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 51px;
      height: 4px;
      background: #3caaea; }

.section-inner h2 {
  position: relative;
  padding-top: 16px;
  text-transform: uppercase; }
  .section-inner h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 51px;
    height: 4px;
    background: #3caaea; }

.about-us__slider {
  position: relative; }
  .about-us__slider::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
    -webkit-box-shadow: 0px 0px 41px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 41px 12px rgba(0, 0, 0, 0.2); }
  .about-us__slider .article-box {
    min-height: 620px; }

.article-box {
  position: relative; }
  .article-box .justify-align {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative; }
  .article-box h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 25px; }
  .article-box p {
    margin-bottom: 17px; }

.article-box__img {
  position: relative;
  width: 40%; }
  .article-box__img img {
    display: block; }

.article-box__text {
  width: 55%;
  padding: 40px 50px 40px 20px; }

.icon-list {
  list-style: none; }
  .icon-list li {
    display: inline-block;
    padding: 0 15px;
    max-width: 200px;
    text-align: center;
    vertical-align: top; }
    .icon-list li:first-child {
      padding-left: 0; }
    .icon-list li:last-child {
      padding-right: 0; }
    .icon-list li span {
      display: block; }
    .icon-list li img {
      margin: 0 auto 5px; }

.slider-arrows {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 128px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .slider-arrows button {
    display: block;
    padding: 0;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    background: #fff;
    border: none;
    outline: none; }
    .slider-arrows button .sprite::before {
      margin: 0 auto; }
    .slider-arrows button.slider-arrows__next {
      border-left: 1px solid #3caaea; }

.our-brands {
  background: #f4f4f4; }

.tabs-nav {
  text-align: right;
  list-style: none; }
  .tabs-nav li {
    display: inline-block;
    margin-left: 40px; }
    .tabs-nav li a {
      position: relative;
      display: block;
      padding: 15px 25px;
      font-size: 26px;
      text-transform: uppercase;
      color: #333; }
      .tabs-nav li a.active {
        color: #fff;
        background: #3caaea; }
        .tabs-nav li a.active::before {
          display: none; }
        .tabs-nav li a.active:hover {
          opacity: 0.8; }
      .tabs-nav li a::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        width: 50px;
        height: 4px;
        background: #3caaea;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .tabs-nav li a:hover {
        opacity: 1; }
        .tabs-nav li a:hover::before {
          width: 100%; }

.tabs-items {
  margin: 26px 0 0 0; }

.tabs-item {
  display: none; }
  .tabs-item.active {
    display: block; }

.brands-slider__box {
  margin-top: 40px;
  -webkit-box-shadow: 0px 0px 41px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 41px 12px rgba(0, 0, 0, 0.2); }

.brands-slider__header {
  background: #3caaea; }

.brands-slider__brand {
  height: 138px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.row-eq-height {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.brands-slider__text {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 10px 0; }
  .brands-slider__text p {
    color: #fff; }
  .brands-slider__text .read-more {
    color: #fff; }

.read-more {
  font-size: 16px;
  font-weight: bold; }

.brands-slider__bottom {
  background: #fff; }
  .brands-slider__bottom .col-sm-7 {
    padding-right: 0; }

.brands-slider__info {
  height: 100%;
  padding: 30px 0 20px 30px; }
  .brands-slider__info h3 {
    line-height: 23px;
    margin-bottom: 15px; }

.brands-slider__list {
  list-style: none; }
  .brands-slider__list li {
    font-size: 16px;
    font-weight: bold;
    color: #3caaea;
    line-height: 30px; }

.brands-slider__img {
  position: relative; }
  .brands-slider__img img {
    display: block; }
  .brands-slider__img .slider-arrows {
    left: 0;
    right: auto; }

.we-offer h2 {
  margin-bottom: 30px; }

.we-offer__item {
  min-height: 395px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1); }
  .we-offer__item h3 {
    height: 90px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 21px; }

.pharmaceutics {
  padding-top: 0; }

.article-box__left {
  margin-top: 60px;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2); }
  .article-box__left .article-box__text {
    padding: 31px 0 40px 40px;
    width: auto;
    min-height: 400px; }
    .article-box__left .article-box__text p:last-of-type {
      margin-bottom: 0; }
    .article-box__left .article-box__text h2 {
      margin-bottom: 17px; }
  .article-box__left .article-box__img {
    width: auto;
    position: absolute;
    bottom: 0; }

.equipment-five {
  margin: 40px 0 0; }
  .equipment-five h2 {
    margin-bottom: 30px;
    text-transform: uppercase; }
  .equipment-five .btn {
    margin-top: 50px; }

.equipment-five__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: -10px;
  margin-right: -10px; }

.equipment-five__item {
  width: 20%;
  height: 308px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1); }

.equipment-five__img {
  height: 226px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px; }
  .equipment-five__img img {
    display: block;
    margin: 0 auto; }

.equipment-five__title {
  font-size: 20px;
  font-weight: bold; }

.food {
  padding-top: 0; }

.latest-news {
  padding-top: 55px;
  background: #f4f4f4; }

.latest-news__wrapper {
  margin: 25px 0 0; }

.latest-news__item {
  height: 395px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1); }

.latest-news__img {
  height: 226px;
  margin-bottom: 30px; }

.latest-news__title {
  height: 95px;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold; }
  .latest-news__title a {
    color: #333; }

.latest-news__bottom {
  padding: 0 20px; }
  .latest-news__bottom .read-more {
    font-size: 18px; }

.latest-news__date {
  font-size: 18px;
  color: #acacac; }

.breadcrumbs {
  margin: 26px 0 0 0;
  padding-bottom: 16px;
  list-style: none; }
  .breadcrumbs li {
    display: inline-block;
    margin-right: -0.03em;
    font-size: 14px; }
    .breadcrumbs li + li::before {
      content: ">";
      padding: 0 8px 0 3px;
      font-size: 14px; }
    .breadcrumbs li a {
      position: relative;
      color: #3caaea; }

.section-inner {
  padding: 0; }
  .section-inner h1 {
    margin-bottom: 45px; }

.article-slider__box {
  margin-bottom: 50px; }
  .article-slider__box h2 {
    margin-bottom: 25px; }
  .article-slider__box p {
    margin-bottom: 25px; }
  .article-slider__box h3 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold; }
  .article-slider__box .icon-list {
    margin-bottom: 25px; }

.single-slider__wrapper {
  position: relative; }
  .single-slider__wrapper .slider-arrows {
    left: 0;
    right: auto; }

.monodoses {
  padding: 0 0 80px; }
  .monodoses .icon-list {
    margin-bottom: 0; }

.equipment-three__item {
  height: 454px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
  text-align: center; }
  .equipment-three__item h3 {
    margin-bottom: 10px; }
    .equipment-three__item h3 a {
      color: #333; }
  .equipment-three__item p {
    height: 110px;
    padding: 0 20px;
    font-size: 16px;
    line-height: normal;
    color: #333;
    text-align: left; }

.equipment-three__wrapper {
  margin-top: 30px; }

.equipment-three__img {
  height: 240px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .equipment-three__img img {
    display: block;
    margin: 0 auto; }

.suppositories {
  padding-top: 50px;
  background: #f4f4f4; }

.stick {
  background: #fff; }

.sachet {
  background: #f4f4f4; }

.equipment-four {
  margin-bottom: 50px; }

.equipment-four__item {
  height: 238px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
  text-align: center; }
  .equipment-four__item h3 {
    margin-top: 20px;
    text-transform: uppercase; }

.equipment-four__img {
  height: 164px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.tech-equipment {
  min-height: 668px;
  background: url(../img/tech-equipment-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }

.tech-equipment.header-white h2, .header-white h2 {
  color: #fff; }
  .tech-equipment.header-white h2::before, .header-white h2::before {
    background: #fff !important; }

.tech-equipment__wrapper {
  margin-top: 60px; }

.tech-equipment__item {
  margin-bottom: 30px;
  background: #fff; }

.tech-equipment__img a {
  display: block; }

.tech-equipment__img img {
  display: block; }

.tech-equipment__info {
  padding: 30px 30px 0 0; }
  .tech-equipment__info h4 {
    margin-bottom: 20px;
    line-height: 21px; }

.seo-text {
  padding: 60px 0 30px;
  background: #fff; }
  .seo-text .container h2 {
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: bold;
    text-transform: none; }
    .seo-text .container h2::before {
      display: none; }
  .seo-text p {
    margin-bottom: 30px; }

.rhombus-list {
  list-style: none;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .rhombus-list li {
    text-align: center; }
    .rhombus-list li h4 {
      text-transform: uppercase; }

.rhombus-list__img {
  margin-bottom: 20px; }

.foods-top {
  padding: 0 0 50px; }
  .foods-top p {
    margin-bottom: 30px; }

.foods-blue {
  background: url(../img/foods-blue-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }

.packaging-box {
  margin-bottom: 50px; }

.packaging-box__item {
  height: 417px;
  padding: 0 0 10px;
  background: #fff; }
  .packaging-box__item h3 {
    padding: 0 20px;
    margin-bottom: 10px; }
  .packaging-box__item p {
    padding: 0 20px;
    line-height: normal; }

.packaging-box__img {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 226px;
  margin-bottom: 15px;
  background: #f3f3f3; }

.blister {
  padding: 50px 0;
  background: #f4f4f4; }

.section-title {
  margin-bottom: 40px;
  font-size: 38px;
  font-weight: bold; }

.blister-item h2 {
  margin-bottom: 15px; }

.blister-item__text {
  height: 90px;
  padding: 0 30px 0 0; }

.blister-slider__box h3 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 26px;
  color: #3caaea;
  text-transform: uppercase; }

.blister-slider__box .single-slider__wrapper {
  margin-bottom: 30px; }

.group-packing {
  padding-bottom: 0; }

.group-packing__box {
  max-width: 488px; }

.group-packing__text {
  margin: 10px 0 0;
  height: 80px;
  padding: 0 30px 0 0; }

.packing-item {
  height: 336px;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1); }
  .packing-item h3 {
    margin: 30px 0 20px; }
  .packing-item .btn {
    width: 148px; }

.packing-item__img {
  height: 184px; }

.article-img {
  padding: 0 0 70px; }

.brands-list {
  margin-top: 40px;
  list-style: none; }
  .brands-list li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px; }
    .brands-list li:last-child {
      margin-right: 0; }

.article-img p {
  font-size: 20px;
  margin-bottom: 30px; }

.manufacturing-process {
  background: url(../img/manufacturing-process-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  padding-bottom: 90px; }
  .manufacturing-process .container h2 {
    padding: 0;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    text-transform: none; }
    .manufacturing-process .container h2::before {
      display: none; }

.manufacturing-process__box {
  max-width: 950px;
  margin: 40px auto 0; }

.manufacturing-process__item {
  position: relative;
  padding: 0 0 60px; }
  .manufacturing-process__item .slider-arrows button {
    background: #333; }

.manufacturing-text {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 488px;
  height: 334px;
  background: #fff;
  text-align: center;
  z-index: 10; }
  .manufacturing-text p {
    font-size: 30px;
    line-height: normal; }

.manufacturing-text__number {
  font-size: 120px;
  font-weight: bold;
  color: #3caaea; }

.manufacturing-process__slider .slick-dots {
  bottom: 0;
  text-align: left;
  max-width: 460px; }

.manufacturing-process__slider .slick-dots li {
  width: 65px;
  height: auto; }
  .manufacturing-process__slider .slick-dots li button {
    width: 65px;
    height: auto;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    line-height: normal;
    border-bottom: 4px solid #fff; }
    .manufacturing-process__slider .slick-dots li button:hover {
      background: #fff;
      color: #333; }
    .manufacturing-process__slider .slick-dots li button::before {
      display: none; }
  .manufacturing-process__slider .slick-dots li.slick-active button {
    background: #333;
    border-color: #333; }

.equipment-article h2 {
  margin-bottom: 20px; }

.equipment-article h3 {
  margin-bottom: 30px;
  font-size: 38px;
  font-weight: bold; }

.equipment-article p {
  margin-bottom: 30px; }

.equipment-article__text {
  padding: 0 0 0 60px; }

.packing-products {
  background: #f4f4f4; }
  .packing-products h2 {
    margin-bottom: 35px; }

.packing-products__item .equipment-four__item {
  width: 264px; }

.packing-products__item .single-slider__wrapper {
  max-width: 454px; }

.packing-products__wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.sidebar {
  margin-top: 15px; }

.sidebar-header {
  margin-bottom: 28px;
  font-size: 26px;
  text-transform: uppercase; }

.sidebar-wrapper {
  border: 1px solid #E6E6E6; }

.sidebar-item {
  padding: 25px 25px 25px 20px;
  border-bottom: 1px solid #E6E6E6; }

.sidebar-item__toggle {
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #000; }
  .sidebar-item__toggle::after {
    content: '';
    position: absolute;
    right: -5px;
    top: 40%;
    border: 5px solid transparent;
    border-top: 8px solid #3caaea; }
  .sidebar-item__toggle.active::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    top: 30%; }

.sidebar-item__body {
  display: none; }

.sidebar-item__menu {
  margin-top: 20px; }
  .sidebar-item__menu h4 {
    margin-bottom: 5px; }
    .sidebar-item__menu h4 a {
      color: #000; }
  .sidebar-item__menu ul {
    list-style: none; }
    .sidebar-item__menu ul li {
      padding-left: 20px;
      line-height: 30px; }
      .sidebar-item__menu ul li a {
        color: #000;
        font-size: 18px; }
        .sidebar-item__menu ul li a:hover {
          opacity: 1;
          color: #3caaea; }

.content-right h1 {
  margin-bottom: 27px; }

.product-card__slider .slick-slide {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 345px;
  border: 1px solid #E6E6E6; }

.product-card__slider--nav {
  margin-left: -9px;
  margin-right: -9px;
  margin-top: 18px; }
  .product-card__slider--nav .slick-slide {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 77px;
    margin: 0 9px;
    border: 1px solid #E6E6E6; }
    .product-card__slider--nav .slick-slide.active {
      border-color: #3caaea; }

.product-card__info {
  border: 1px solid #E6E6E6; }
  .product-card__info .tabs-nav {
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .product-card__info .tabs-nav li {
      margin: 0; }
      .product-card__info .tabs-nav li a {
        display: block;
        padding: 0 18px;
        height: 43px;
        line-height: 43px;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        text-transform: none;
        background: #3caaea;
        color: #fff; }
        .product-card__info .tabs-nav li a.active {
          background: #fff;
          color: #333; }
        .product-card__info .tabs-nav li a::before {
          display: none; }
      .product-card__info .tabs-nav li:last-child a {
        border-left: 0; }
  .product-card__info .tabs-items {
    margin: 15px 0 0; }
  .product-card__info .tabs-item__body {
    padding: 0 15px 15px; }
    .product-card__info .tabs-item__body p {
      margin-bottom: 20px; }
      .product-card__info .tabs-item__body p:last-of-type {
        margin-bottom: 0; }
  .product-card__info + .btn {
    width: 194px;
    display: block;
    margin: 30px auto; }

.additional-information {
  padding: 50px 50px 30px;
  margin-top: 20px;
  margin-bottom: 80px;
  background: #f4f4f4; }
  .additional-information h2 {
    margin-bottom: 30px; }
  .additional-information p {
    margin-bottom: 20px; }
    .additional-information p:last-of-type {
      margin-bottom: 0; }
  .additional-information h3 {
    margin: 20px 0; }
  .additional-information iframe {
    width: 100%;
    height: 440px;
    margin-bottom: 25px; }

.brands h1 {
  margin-bottom: 0; }

.bg-gray {
  background: #f4f4f4; }

.brands-item {
  padding: 50px 0; }
  .brands-item h2 {
    margin-bottom: 20px; }

.contacts h2 {
  margin-bottom: 30px; }

.contacts-item {
  position: relative;
  padding: 0 0 0 30px;
  margin-bottom: 20px; }
  .contacts-item h4 {
    margin-bottom: 5px; }
  .contacts-item ul {
    list-style: none; }
    .contacts-item ul li {
      font-size: 18px;
      line-height: 26px; }
  .contacts-item.sprite::before {
    position: absolute;
    left: 0;
    top: 0; }
  .contacts-item.sprite.sprite-mail::before {
    top: 4px; }

.form-contacts {
  padding: 50px;
  margin-bottom: 80px;
  background: #f4f4f4; }
  .form-contacts .form-item {
    margin-bottom: 30px; }
  .form-contacts textarea.form-item {
    height: 123px;
    resize: none; }
  .form-contacts .privacy {
    margin-top: 15px; }

.form-contacts__send .captcha-box {
  margin: 0; }

.section-news {
  padding-top: 0; }
  .section-news h2 {
    margin-bottom: 30px; }
  .section-news .latest-news__item {
    margin-bottom: 30px; }

.pagination-list {
  margin: 50px 0 50px;
  list-style: none;
  text-align: center; }
  .pagination-list li {
    display: inline-block;
    margin: 0 1px;
    vertical-align: middle; }
    .pagination-list li.active a {
      color: #fff;
      background: #3caaea; }
    .pagination-list li a {
      display: block;
      width: 46px;
      height: 46px;
      line-height: 46px;
      border: 1px solid transparent;
      font-size: 19px;
      color: #333;
      background: #f4f4f4; }
      .pagination-list li a:hover {
        border-color: #3caaea; }
      .pagination-list li a .sprite {
        display: inline-block;
        vertical-align: middle; }
    .pagination-list li span {
      display: block;
      width: 46px;
      height: 46px;
      line-height: 36px;
      border: 1px solid transparent;
      font-size: 19px;
      color: #333;
      background: #f4f4f4; }
    .pagination-list li.pagination-list__first a, .pagination-list li.pagination-list__last a {
      line-height: 40px; }
      .pagination-list li.pagination-list__first a .sprite, .pagination-list li.pagination-list__last a .sprite {
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8); }

.company-news {
  padding: 50px 0; }
  .company-news h2 {
    margin-bottom: 30px; }
  .company-news .btn {
    margin-top: 50px; }

.news-item article h1 {
  margin-bottom: 25px;
  letter-spacing: -0.005em; }

.news-item article h2 {
  margin-bottom: 20px; }

.news-item article > img {
  display: block;
  margin: 0 auto 30px; }

.news-item article p {
  margin-bottom: 30px; }

.news-item article > ul {
  margin-bottom: 30px;
  list-style: none; }
  .news-item article > ul li {
    font-size: 16px;
    line-height: 24px; }
    .news-item article > ul li::before {
      content: '- ';
      font-size: 16px; }

.news-item__date {
  margin-bottom: 30px; }

.article-bottom {
  margin-bottom: 30px; }

.share-btn {
  list-style: none; }
  .share-btn li {
    display: inline-block;
    margin: 0 2px;
    vertical-align: middle; }
    .share-btn li strong {
      display: inline-block;
      font-size: 18px;
      padding-right: 5px; }

.gallery {
  padding: 50px 0; }
  .gallery h2 {
    padding: 0;
    font-size: 38px;
    font-weight: bold;
    text-transform: none; }
    .gallery h2::before {
      display: none; }
  .gallery .row {
    margin-left: -8px;
    margin-right: -8px; }
  .gallery [class^="col"] {
    padding-left: 8px;
    padding-right: 8px; }

.gallery-item {
  margin-bottom: 16px; }
  .gallery-item img {
    display: block; }

.right-sidebar {
  padding: 10px 0 0; }
  .right-sidebar h2 {
    margin-bottom: 30px; }

.other-news__item {
  margin-bottom: 30px; }
  .other-news__item h4 {
    max-width: 248px; }
    .other-news__item h4 a {
      color: #333; }

.events-item {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 41px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 41px 12px rgba(0, 0, 0, 0.1); }

.events-item__img {
  width: 48%; }

.events-item__info {
  width: 52%;
  padding: 20px;
  height: 312px;
  background: #3caaea; }
  .events-item__info * {
    color: #fff; }

.events-item__text {
  height: 255px; }
  .events-item__text h3 {
    margin-bottom: 20px; }

.events .pagination-list {
  margin-top: 20px; }

.tag-list {
  margin: 10px 0;
  list-style: none; }
  .tag-list li {
    display: inline-block;
    padding: 5px 8px;
    margin: 0 6px 6px 0;
    background: #e5e4e4; }
    .tag-list li:last-child {
      margin-right: 0; }
    .tag-list li span {
      display: inline-block; }
    .tag-list li a {
      display: inline-block;
      padding: 0 0 0 5px; }

.sort-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .sort-box span {
    display: inline-block;
    padding: 0 10px 0 0;
    font-size: 14px;
    font-weight: bold; }

.select-wrapper {
  position: relative;
  width: 180px;
  overflow: hidden;
  background: #f4f4f4; }
  .select-wrapper::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 45%;
    border: 4px solid transparent;
    border-top: 6px solid #3caaea; }
  .select-wrapper select {
    width: 110%;
    height: 40px;
    padding: 0 0 0 10px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none; }

.catalog .pagination-list {
  margin: 30px 0 80px; }

.catalog-wrapper {
  margin-top: 20px; }

.catalog-item {
  height: 268px;
  margin-bottom: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 41px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 41px 12px rgba(0, 0, 0, 0.1); }

.catalog-item__img {
  height: 200px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.catalog-item__name {
  padding: 0 10px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold; }
  .catalog-item__name a {
    color: #333; }

.catalog-item__model {
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold; }

.sidebar-item__filter ul li {
  padding-left: 0; }

.check-list {
  list-style: none; }
  .check-list .check-list {
    padding-left: 10px; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 20px;
    cursor: pointer;
    font-size: 16px;
    line-height: normal; }
    input[type="checkbox"] + label::before {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      width: 12px;
      height: 12px;
      border: 1px solid transparent;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      background: #f1f1f1; }
    input[type="checkbox"] + label:hover {
      color: #3caaea; }
  input[type="checkbox"]:checked + label {
    color: #3caaea; }
    input[type="checkbox"]:checked + label::after {
      content: '';
      position: absolute;
      left: 3px;
      top: 8px;
      background-image: url(../img/spritesheet.png);
      background-repeat: no-repeat;
      display: block;
      width: 7px;
      height: 5px;
      background-position: -49px -5px; }
    input[type="checkbox"]:checked + label:hover::before {
      border-color: #3caaea; }

.check-list__embedded > li {
  margin-bottom: 20px; }

.modal-dialog {
  width: 386px; }

.modal-content {
  background: #f4f4f4;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0; }

.modal-contact__us .modal-body {
  padding: 30px; }
  .modal-contact__us .modal-body h2 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: center; }
    .modal-contact__us .modal-body h2::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 4px;
      width: 50px;
      background: #3caaea;
      bottom: 0; }

.form p {
  font-size: 14px;
  line-height: normal; }

.form-item {
  height: 45px;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
  background: #fff; }

textarea.form-item {
  padding: 15px;
  height: 90px;
  margin-bottom: 10px; }

.captcha-box {
  margin: 10px 0 20px; }

.privacy {
  margin-top: 10px; }

*::-webkit-input-placeholder {
  color: #b6b6b6;
  font-size: 16px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-moz-placeholder {
  color: #b6b6b6;
  font-size: 16px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*::-moz-placeholder {
  color: #b6b6b6;
  font-size: 16px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-ms-input-placeholder {
  color: #b6b6b6;
  font-size: 16px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:focus::-webkit-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus::-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-ms-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

textarea:focus::-webkit-input-placeholder {
  text-indent: 0; }

textarea:focus::-moz-placeholder {
  text-indent: 0; }

textarea:focus:-moz-placeholder {
  text-indent: 0; }

textarea:focus:-ms-input-placeholder {
  text-indent: 0; }

footer {
  background: #333;
  min-height: 80px;
  color: #fff; }
  footer h6 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #3caaea;
    text-transform: uppercase; }
  footer .logo {
    display: inline-block;
    margin-bottom: 50px; }
    footer .logo span {
      margin-top: 10px;
      color: #fff;
      font-size: 18px; }

.footer-wrapper {
  padding: 50px 0; }
  .footer-wrapper.justify-align {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer-wrapper .footer-item:not(:first-child) {
    position: relative;
    top: 10px; }

.footer-address {
  position: relative;
  padding: 0 0 0 20px; }
  .footer-address p {
    font-size: 14px;
    line-height: normal; }
  .footer-address.sprite::before {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6); }

.footer-tel__list {
  list-style: none;
  margin-bottom: 40px; }
  .footer-tel__list li {
    margin-bottom: 20px;
    font-size: 18px; }
    .footer-tel__list li:last-child {
      margin-bottom: 0; }
    .footer-tel__list li a {
      font-weight: bold;
      color: #fff; }

.footer-links__wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 310px; }

.footer-links {
  max-width: 152px; }
  .footer-links ul {
    list-style: none; }
    .footer-links ul li {
      font-size: 14px;
      line-height: normal;
      margin-bottom: 6px; }
      .footer-links ul li a {
        color: #fff; }

.footer-bottom {
  background: #3caaea;
  font-size: 18px;
  color: #fff; }
  .footer-bottom .justify-align {
    height: 60px; }
  .footer-bottom a {
    color: #fff; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens -------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {
  .header-top__right {
    width: auto; }
  .header-top__address {
    display: none; }
  .header-top__tel {
    display: none; }
  .banner-slider__info {
    padding: 60px 0 0; }
  .banner-slider__title {
    font-size: 36px; }
  .banner-slider__item {
    height: 400px; }
    .banner-slider__item p {
      font-size: 18px; }
      .banner-slider__item p br {
        display: none; }
  .about-us__slider .article-box {
    min-height: 0; }
  .about-us__slider::before {
    display: none; }
  .article-box h2 {
    font-size: 32px; }
  .icon-list li {
    margin-bottom: 20px; }
  .brands-slider__text p {
    padding-right: 15px; }
  .we-offer__item {
    min-height: 345px; }
    .we-offer__item h3 {
      font-size: 16px; }
  .latest-news__item {
    height: 345px; }
  .latest-news__img {
    height: auto;
    margin-bottom: 15px; }
  .latest-news__title {
    font-size: 16px; }
  .footer-links__wrapper {
    width: 260px; }
  footer .logo {
    max-width: 250px; }
  .dropdown-menu__level2 {
    min-width: 500px; }
  .banner-slider .slick-prev {
    left: 0; }
  .banner-slider .slick-next {
    right: 0; }
  .equipment-three__item {
    height: auto;
    padding-bottom: 30px; }
    .equipment-three__item p {
      height: auto;
      padding: 0 20px 20px; }
  .equipment-three__img {
    height: auto;
    margin-bottom: 15px; }
  .equipment-four__item h3 {
    font-size: 16px; }
  .tech-equipment__info {
    padding: 10px 30px 0 0; }
    .tech-equipment__info h4 {
      margin-bottom: 10px;
      font-size: 16px; }
      .tech-equipment__info h4 br {
        display: none; }
  .seo-text {
    padding: 30px 0 30px; }
    .seo-text .container h2 {
      font-size: 32px;
      margin-bottom: 20px; }
  .packaging-box__item {
    height: auto; }
  .blister-item__text {
    height: auto;
    padding-bottom: 10px; }
  .group-packing__text {
    height: auto;
    padding-bottom: 30px; } }

/* Medium Devices, Desktops -----------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 992px) {
  .navbar-nav > li > a {
    padding: 13px 20px 12px; }
  .banner-slider__title {
    font-size: 30px; }
  .article-box .justify-align {
    display: block; }
  .article-box__img {
    display: inline-block;
    width: auto; }
  .article-box__text {
    width: auto; }
  section {
    padding: 30px 0 60px; }
  .our-brands__wrapper {
    margin-top: 30px; }
  .brands-slider__brand {
    padding-left: 15px; }
  .tabs-nav li {
    margin-left: 30px; }
  .equipment-five__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .equipment-five__item {
    width: 45%;
    margin-bottom: 30px; }
  .equipment-five .btn {
    margin: 0; }
  .equipment-five__wrapper {
    max-width: 210px;
    margin: 0 auto 30px;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1); }
  .equipment-five__item {
    width: auto;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .slick-prev {
    left: -40px; }
    .slick-prev::before {
      content: '<';
      font-family: monospace;
      font-size: 34px;
      font-weight: bold;
      color: #B7B7B7;
      opacity: 1; }
  .slick-next {
    right: -40px; }
    .slick-next::before {
      content: '>';
      font-family: monospace;
      font-size: 34px;
      font-weight: bold;
      color: #B7B7B7;
      opacity: 1; }
  .latest-news__item {
    max-width: 360px;
    padding-bottom: 30px;
    height: auto;
    margin: 0 auto 30px; }
  .latest-news__title {
    height: auto;
    padding: 0 20px 20px; }
  .footer-wrapper.justify-align {
    display: block; }
  .footer-item {
    max-width: 290px;
    margin: 0 auto 20px; }
  .footer-bottom .justify-align {
    display: block;
    padding: 20px 0;
    height: auto;
    text-align: center; }
    .footer-bottom .justify-align * {
      display: inline-block; }
    .footer-bottom .justify-align span {
      display: block;
      margin-bottom: 15px; }
  .dropdown-menu__level2 {
    min-width: 400px; }
  .equipment-three__wrapper {
    max-width: 250px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1); }
    .equipment-three__wrapper .col-sm-4 {
      padding-left: 0;
      padding-right: 0; }
    .equipment-three__wrapper .equipment-three__item {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .equipment-three .slick-prev {
    left: -30px; }
  .equipment-three .slick-next {
    right: -30px; }
  .monodoses {
    padding-bottom: 60px; }
  .blister {
    padding: 30px 0; }
  .blister-slider__box {
    margin-bottom: 30px; }
  .foods-blue .equipment-three {
    margin-top: 20px; }
  .packing-item__img {
    height: auto; }
  .group-packing__box {
    max-width: 240px;
    margin: 0 auto 40px;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1); }
  .packing-item {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .article-img__wrapper {
    margin-left: 0;
    margin-right: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .article-img__wrapper .col-md-5 {
      margin-bottom: 20px; }
  .packing-products__wrapper {
    display: block; }
  .packing-products__item {
    margin-bottom: 40px; }
  .manufacturing-process {
    padding-bottom: 0; }
  .manufacturing-process__box {
    max-width: 950px;
    margin: 120px auto 0; }
  .manufacturing-process__slider .slick-dots {
    bottom: 105%; }
  .manufacturing-text {
    position: static; }
  .manufacturing-process__slider {
    max-width: 488px; }
    .manufacturing-process__slider .slider-arrows {
      bottom: 260px; }
  .packing-products {
    padding-bottom: 30px; }
    .packing-products .equipment-four__item .equipment-four__img {
      height: 170px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .packing-products .equipment-four__item .equipment-four__img h3 {
        padding-bottom: 20px; }
  .equipment-article__text {
    padding: 30px 0 0; }
  .article-img {
    padding-bottom: 30px; }
    .article-img p {
      font-size: 18px; }
    .article-img .article-img__wrapper .col-md-7, .article-img .article-img__wrapper .col-md-5 {
      padding-left: 0;
      padding-right: 0; }
  .brands-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .manufacturing-process .container h2 {
    font-size: 32px; }
  .manufacturing-process__slider .slick-dots li {
    width: 42px; }
    .manufacturing-process__slider .slick-dots li button {
      width: 42px;
      font-size: 19px; }
  .manufacturing-text {
    width: auto;
    height: 200px; }
    .manufacturing-text p {
      font-size: 20px; }
  .manufacturing-text__number {
    font-size: 70px; }
  .packing-products__item .equipment-four__item {
    width: 290px;
    margin: 0 auto 30px; }
  .content-right {
    padding-top: 30px; }
  .sidebar-item {
    padding: 15px 25px 15px 20px; }
  .product-card .tabs-item .tabs-mobile__btn {
    position: relative;
    display: block;
    height: 53px;
    line-height: 53px;
    width: 100%;
    margin: 0 auto;
    max-width: 290px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #3caaea;
    border: 1px solid #3caaea;
    margin-bottom: 20px; }
    .product-card .tabs-item .tabs-mobile__btn::before {
      content: '^';
      position: absolute;
      right: 40px;
      top: -5px;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .product-card .tabs-item.active .tabs-mobile__btn, .product-card .tabs-item.active-m .tabs-mobile__btn {
    color: #333;
    border-color: transparent; }
    .product-card .tabs-item.active .tabs-mobile__btn::before, .product-card .tabs-item.active-m .tabs-mobile__btn::before {
      -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
              transform: rotate(0);
      top: 5px; }
  .product-card__slider {
    max-width: 244px;
    margin: 0 auto 20px; }
    .product-card__slider .slick-slide {
      height: 234px;
      padding: 0 10px; }
  .product-card__slider--nav {
    display: none; }
  .additional-information {
    padding: 30px 15px 30px;
    margin-bottom: 50px; }
    .additional-information .additional-information iframe {
      height: 240px; } }

/* Small Devices, Tablets -------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  header {
    position: relative;
    min-height: 0; }
    header .logo {
      top: 0; }
  .navbar {
    position: static; }
  .header-top {
    padding-left: 54px; }
  .navbar-header {
    position: absolute;
    padding: 0;
    left: 30px;
    top: 20px;
    background-color: transparent; }
    .navbar-header .container {
      padding: 0; }
    .navbar-header .navbar-header {
      padding: 0; }
    .navbar-header .navbar-collapse {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      left: 0;
      top: 70px;
      background: #333;
      z-index: 10; }
  .navbar-toggle {
    float: none;
    padding: 0 0 0;
    margin: 0 0 0;
    border: none;
    min-height: 25px;
    position: relative;
    z-index: 5; }
    .navbar-toggle .icon-bar {
      position: relative;
      width: 22px;
      height: 3px;
      background: #3caaea;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease; }
    .navbar-toggle.active .icon-bar {
      margin: 0; }
      .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 7px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background-color: transparent; }
      .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -9px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 5px; }
  .navbar-nav > li {
    display: block; }
    .navbar-nav > li > a {
      width: 100%;
      padding: 13px 20px 12px 60px; }
      .navbar-nav > li > a.sprite-burger {
        width: 100%;
        padding: 13px 20px 12px 60px;
        text-align: left; }
        .navbar-nav > li > a.sprite-burger::after {
          content: '>';
          position: absolute;
          right: 15px;
          top: 12px;
          color: #fff;
          font-weight: bold;
          font-size: 18px;
          font-family: monospace; }
    .navbar-nav > li.search {
      float: none;
      padding: 0 15px 10px 60px; }
      .navbar-nav > li.search > a {
        display: none; }
      .navbar-nav > li.search .search-form {
        position: relative;
        display: block; }
  .dropdown-menu__level2 {
    min-width: 0; }
    .dropdown-menu__level2 li {
      padding-left: 30px; }
  .header-top__wrapper {
    min-height: 70px; }
  .header-top__right {
    display: none; }
  .navbar-nav .active .dropdown-menu {
    display: block;
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .navbar-nav .active > a.btn {
    display: none; }
  .navbar-nav .active ~ li {
    display: none; }
  .navbar-nav .active .dropdown-menu li:hover {
    background-color: transparent; }
    .navbar-nav .active .dropdown-menu li:hover a {
      background-color: transparent; }
  .navbar-nav .active .dropdown-menu .visible-xs {
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -ms-flex !important;
    display: -o-flex !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    background: #3caaea;
    padding-left: 0; }
    .navbar-nav .active .dropdown-menu .visible-xs.none {
      display: none !important; }
    .navbar-nav .active .dropdown-menu .visible-xs .back-menu {
      display: block;
      width: 100%;
      position: relative;
      padding-left: 60px;
      font-size: 16px;
      text-transform: uppercase;
      color: #fff;
      background: #3caaea; }
      .navbar-nav .active .dropdown-menu .visible-xs .back-menu::before {
        content: '<';
        position: absolute;
        left: 27px;
        top: 4px;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        font-family: monospace; }
  .dropdown.active {
    display: block !important; }
  .dropdown-level2.none {
    display: none; }
  .dropdown-level2.active {
    display: block; }
    .dropdown-level2.active > a {
      display: none; }
    .dropdown-level2.active .dropdown-menu__level2 {
      display: block;
      padding: 0 0 15px;
      position: static;
      -webkit-column-count: 1;
         -moz-column-count: 1;
              column-count: 1; }
  .banner {
    margin-bottom: 30px;
    padding-bottom: 30px; }
  .banner-slider .slick-dots {
    bottom: -60px; }
    .banner-slider .slick-dots li button {
      background: #3caaea; }
  .banner-slider__item {
    height: auto; }
    .banner-slider__item .row {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
    .banner-slider__item p {
      font-size: 16px;
      text-align: center; }
    .banner-slider__item .btn {
      display: block;
      width: 195px;
      margin: 15px auto 0; }
  .banner-slider__img {
    padding: 30px 0 0; }
  .banner-slider__info {
    padding: 30px 0 0; }
  .banner-slider__title {
    margin: 0 0 10px;
    font-size: 26px;
    text-align: center; }
  .visible-xs.header-top__right {
    padding: 30px 15px;
    background: #fff; }
  .visible-xs .header-top__address {
    display: block;
    margin: 0 0 10px 15px; }
  .visible-xs .header-top__tel {
    display: block;
    margin: 0 0 10px 15px; }
  .modal-dialog {
    width: 320px;
    margin: 20px auto; }
  .modal-contact__us .modal-body {
    position: relative;
    padding: 20px 15px; }
  .form p {
    font-size: 12px; }
  .close.visible-xs {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 30px;
    color: #3caaea;
    opacity: 1; }
  .logo {
    max-width: 252px; }
    .logo span {
      display: none; }
  p {
    font-size: 14px;
    line-height: 21px; }
  h2 {
    font-size: 24px; }
  .tabs-item {
    display: block; }
    .tabs-item .tabs-item__body {
      display: none; }
    .tabs-item.active .tabs-item__body {
      display: block; }
  .row-eq-height {
    display: block; }
  .brands-slider__brand {
    height: auto;
    padding: 20px 15px; }
  .brands-slider__text {
    height: auto;
    padding: 0 15px 20px; }
  .brands-slider__bottom .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .tabs-nav li {
    display: block;
    margin-left: 0;
    text-align: center; }
    .tabs-nav li a {
      display: inline-block;
      font-size: 20px;
      font-weight: normal; }
  .our-brands h2 {
    text-align: center; }
    .our-brands h2::before {
      right: 0;
      margin: 0 auto; }
  .we-offer__item {
    min-height: auto;
    max-width: 360px;
    margin: 0 auto 20px;
    padding-bottom: 20px; }
    .we-offer__item h3 {
      height: auto;
      padding: 10px 0; }
  .about-us__slider .article-box__text {
    padding: 30px 0 30px; }
  padding-bottom: 0;
  .article-box__text {
    padding: 15px 0 40px 0; }
  .article-box__left {
    margin-top: 20px;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .article-box__left .row-eq-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
    .article-box__left .article-box__img {
      position: static; }
    .article-box__left .article-box__text {
      padding: 15px 0 20px 0;
      min-height: 0; }
      .article-box__left .article-box__text h2 br {
        display: none; }
  .equipment-five {
    margin: 0; }
    .equipment-five h2 {
      text-align: center; }
  .equipment-five__img {
    height: 250px; }
  .latest-news {
    padding-top: 30px;
    padding-bottom: 0; }
  .icon-list li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 260px;
    text-align: left; }
    .icon-list li img {
      width: 68px; }
    .icon-list li span {
      display: block;
      width: 190px;
      padding: 0 0 0 20px; }
  .latest-news__title {
    font-size: 18px; }
    .latest-news__title br {
      display: none; }
  .latest-news__bottom .read-more {
    font-size: 16px; }
  .latest-news__date {
    font-size: 16px; }
  .latest-news__item {
    padding-bottom: 20px; }
  footer .logo {
    max-width: 100%;
    margin-bottom: 30px; }
    footer .logo span {
      display: block;
      font-size: 16px;
      text-align: center; }
  .footer-wrapper {
    padding: 10px 0; }
  h1 {
    font-size: 32px; }
  .breadcrumbs {
    margin: 0; }
  .monodoses .icon-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .monodoses .icon-list li {
      width: 30%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: none;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
      .monodoses .icon-list li span {
        width: auto;
        padding: 0; }
  .equipment-four {
    margin-bottom: 0; }
  .equipment-four__wrapper {
    margin-left: 0;
    margin-right: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .equipment-four__wrapper::before {
      display: none; }
    .equipment-four__wrapper > div {
      width: 49%;
      padding: 0 5px 10px;
      -webkit-box-flex: 1;
      -webkit-flex: 1 50%;
          -ms-flex: 1 50%;
              flex: 1 50%; }
  .equipment-four__item {
    height: auto;
    min-height: 150px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .equipment-four__item h3 {
      margin: 0;
      padding-bottom: 10px; }
    .equipment-four__item .equipment-four__img {
      height: auto;
      display: block; }
  .sachet {
    padding-bottom: 50px; }
  .tech-equipment {
    padding-bottom: 1px; }
  .tech-equipment__wrapper {
    margin-top: 20px; }
  .tech-equipment__item {
    max-width: 290px;
    margin: 0 auto 30px; }
    .tech-equipment__item .tech-equipment__img img {
      width: 100%; }
    .tech-equipment__item .tech-equipment__info {
      height: 170px;
      padding: 20px 15px 20px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .tech-equipment__item .tech-equipment__info h4 {
        font-size: 18px;
        text-align: center; }
        .tech-equipment__item .tech-equipment__info h4 br {
          display: none; }
      .tech-equipment__item .tech-equipment__info .btn {
        display: block;
        width: 148px; }
  .rhombus-list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .rhombus-list li {
      -webkit-box-flex: 1;
      -webkit-flex: 1 50%;
          -ms-flex: 1 50%;
              flex: 1 50%;
      padding: 0 10px 20px; }
  .group-packing__box .slick-next {
    right: -20px; }
  .group-packing__box .slick-prev {
    left: -20px; }
  .section-title {
    font-size: 32px; }
  .packaging-box__item {
    margin-bottom: 20px; }
    .packaging-box__item p {
      padding-bottom: 10px; }
  .packaging-box {
    margin-bottom: 30px; }
  .brands-item__img {
    margin-bottom: 20px; }
  .form-contacts {
    padding: 30px 15px;
    margin-bottom: 50px; }
    .form-contacts .form-contacts__send {
      display: block;
      text-align: center; }
      .form-contacts .form-contacts__send > * {
        display: inline-block;
        margin-bottom: 15px; }
  .pagination-list {
    margin: 10px 0 30px; }
    .pagination-list li.pagination-list__first a, .pagination-list li.pagination-list__last a {
      line-height: 25px; }
    .pagination-list li a, .pagination-list li span {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 14px; }
  .section-news {
    padding-bottom: 30px; }
  .news-item article p {
    margin-bottom: 20px; }
  .news-item article > ul li {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 21px; }
  .article-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .article-bottom .btn {
      margin-top: 20px; }
  .share-btn li:first-child {
    display: block; }
  .other-news__item h4 {
    max-width: none;
    font-size: 14px;
    padding: 0 0 0 10px; }
  .gallery {
    padding-top: 0; }
    .gallery h2 {
      text-align: center; }
    .gallery .gallery-item {
      text-align: center; }
      .gallery .gallery-item img {
        margin: 0 auto; }
  .events-item {
    display: block; }
  .events-item__img {
    width: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .events-item__info {
    width: auto; }
  .sidebar-toggle {
    position: relative; }
    .sidebar-toggle:focus {
      color: #fff; }
  .ic-filter span {
    position: relative;
    display: inline-block; }
    .ic-filter span::before {
      content: '';
      position: absolute;
      left: -20px;
      top: 16px;
      width: 12px;
      height: 12px;
      background: url(../img/filter-ic.png); }
    .ic-filter span::after {
      content: '^';
      position: absolute;
      right: -20px;
      top: -3px;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      color: #fff; }
  .ic-filter.active span::after {
    top: 2px;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0); }
  .ic-filter + .sidebar-header {
    display: none; }
  .sidebar-wrapper__filters {
    display: none; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }
